* {
  box-sizing: border-box;
}

/* ==========================================
   App
   ========================================== */

.App {
  width: 320px;
  background: lightgrey;
}
/* ==========================================
   CurrentWeather
   ========================================== */
#day-banner {
  text-align: center;
}

#current-weather {
  display: flex;
}

#current-temperature {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#current-icon {
  display: flex;
  flex-basis: 50%;
  justify-content: center;
}


/* ==========================================
   HourlyWeather
   ========================================== */

#hourly-weather {
  display: flex;
  justify-content: space-around;
}

.hour {
  display: flex;
  flex-direction: column;
}

/* ==========================================
   SecondaryWeather
   ========================================== */

#secondary-weather {
  display: flex;
  justify-content: space-around;
}

.secondary-category {
  display: flex;
  flex-direction: column;
}

/* ==========================================
   WeeklyWeather
   ========================================== */

#weekly-weather {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.day {
  display: grid;
  grid-template-columns: 58% 14% 18% 10%;
}